@import "tailwindcss";
body{
  background: #1A202C;
  /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
  color: white;
}
#tasklist::-webkit-scrollbar{
  display: none;
}
#alltask::-webkit-scrollbar{
  display: none;
}
#scroll::-webkit-scrollbar{
  display: none;
}